@model vproker.Models.CloseOrderModel

@{
    ViewBag.Title = "Подтвердите завершение";
}

<h3>Завершить этот заказ?</h3>

@if (ViewBag.Retry)
{
    <p class="alert alert-danger">Ошибка при завершении заказа. Повторить?</p>
}

<div>
    <form asp-controller="Order" asp-action="Close" method="post" asp-route-id="@Model.ID">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.ClientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.ClientName)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.Tool.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Tool.Name)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.StartDate)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            Заказ будет закрыт:
        </dt>
        <dd>
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            <label asp-for="Payment"></label>
        </dt>
        <dd>
            <input asp-for="Payment" class="form-control" />
            <span asp-validation-for="Payment" class="text-danger"></span>
        </dd>
    </dl> 
    <div>
            <p>
                <input type="submit" class="btn btn-primary" value="Закрыть" />
                <a asp-controller="Order" asp-action="ActiveOrders" class="btn btn-default">Отмена</a>
            </p>
    </div>
    </form>
</div>