@model vproker.Models.Order

@{
    ViewBag.Title = "Подтвердите завершение";

    DateTime endDate = DateTime.Now;
    Model.Payment = vproker.Controllers.OrderController.CalculatePaymentForDays(Model.StartDate, endDate, Model.Price);
}

<h3>Завершить этот заказ?</h3>

@if (ViewBag.Retry)
{
    <p class="alert alert-danger">Ошибка при завершении заказа. Повторить?</p>
}

<div>
    <form asp-controller="Order" asp-action="Close" method="post" asp-route-id="@Model.ID" asp-route-payment="@Model.Payment">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tool.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tool.Name)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            Заказ будет закрыт:
        </dt>
        <dd>
            @endDate
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            <label asp-for="Payment"></label>
        </dt>
        <dd>
            @*<input asp-for="Payment" class="form-control" />*@
            @Html.EditorFor(m => m.Payment)
            <span asp-validation-for="Payment" class="text-danger"></span>
        </dd>
    </dl> 
    <div>
            <p>
                <input type="submit" class="btn btn-primary" value="Закрыть" />
                <a asp-controller="Order" asp-action="Index" class="btn btn-default">Отмена</a>
            </p>
    </div>
    </form>
</div>