@model IEnumerable<vproker.Models.Order>
@{
    ViewBag.Title = "История";
}
@section Scripts {
    @*<script src="~/js/history.js"></script>*@
    <script type="text/javascript">
        vproker.History.render();
    </script>
}

<div class="container">
    <div id="toolbar">
        <div class="form-inline" role="form">
            <div class="form-group">
                <div class='input-group date' id='startPicker'>
                    <input name="start" type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class='input-group date' id='endPicker'>
                    <input name="end" type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <input name="searchString" class="form-control" type="text" placeholder="Search">
            </div>
            <button id="ok" type="submit" class="btn btn-default">Найти</button>
            <a href='./DownloadHistory' class="btn btn-default">Скачать</a>
        </div>
    </div>

    <table id="table" class="table table-striped"
           data-toggle="table"
           data-url="/api/order/history"
           data-toolbar="#toolbar"
           data-query-params="vproker.History.queryParams"
           data-sort-name="StartDate"
           data-pagination="true"
           data-search="true"
           data-locale="ru-RU"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-page-size="20">
        <thead>
            <tr>
                <th data-field="tool.Name" data-sortable="true">@Html.DisplayNameFor(model => model.Tool)</th>
                <th data-field="clientName" data-sortable="true">@Html.DisplayNameFor(model => model.ClientName)</th>
                <th data-field="contractNumber" data-sortable="true">@Html.DisplayNameFor(model => model.ContractNumber)</th>
                <th data-field="startDate" data-sortable="true" data-formatter="vproker.History.dateTimeFormatter">@Html.DisplayNameFor(model => model.StartDate) </th>
                <th data-field="endDate" data-sortable="true" data-formatter="vproker.History.dateTimeFormatter">@Html.DisplayNameFor(model => model.EndDate)</th>
                <th data-field="payment" data-sortable="true">@Html.DisplayNameFor(model => model.Payment)</th>
                <th data-field="createdBy" data-sortable="true">@Html.DisplayNameFor(model => model.CreatedBy)</th>
                <th data-field="id" data-width="50" data-align="center" data-halign="center" data-formatter="vproker.History.idToActionsFormatter">Управление</th>
            </tr>
        </thead>
    </table>
</div>


