@model IEnumerable<vproker.Models.Order>
@{
    ViewBag.Title = "История";
}

@*<p>
        <a asp-action="Create">Новый Заказ</a>
    </p>*@

@*@using (Html.BeginForm("Index", "Order", FormMethod.Get)) {
        <p>
            Поиск по клиенту: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }*@
@using (Html.BeginForm("History", "Order", FormMethod.Get, new { id = "history-form" }))
{
    <div class="form-horizontal">
        <div style="width: 220px; ">
            <div class="input-group date" style="padding: 10px;" id="startDatePicker">
                <input type="text" id="start" name="start" class="form-control">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <div class="input-group date" style="padding: 10px;" id="endDatePicker">
                <input type="text" id="end" name="end" class="form-control">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <div style="padding: 10px"><input id="btnSubmit" type="submit" value="Фильтр" class="btn btn-primary"/></div>
        </div>

        @*<input id="start" name="start" style="display:none"/>
        <input id="end" name="end" style="display:none"/>*@
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            debugger;
            var end = new Date();
            var start = new Date(new Date().setMonth(new Date().getMonth() - 1));

            $("#startDatePicker").datetimepicker({
                //defaultDate: start.toDateString(),
                format: 'MM.D.YYYY'
            });
            //$("#start").val(start.toString('D/MM/YYYY'));

            $("#endDatePicker").datetimepicker({
                //defaultDate: end.toDateString(),
                format: 'MM.D.YYYY'
            });
            //$("#end").val(end.toString('D/MM/YYYY'));
            //$("#btnSubmit").click(function (e) {
            //    var startDate = $('#startDatePicker').data('DateTimePicker').date();
            //    if (startDate) {
            //        $("#start").val(startDate.format('MM.D.YYYY'));
            //    }

            //    var endDate = $('#endDatePicker').data('DateTimePicker').date();
            //    if (endDate) {
            //        $("#end").val(endDate.format('MM.D.YYYY'));
            //    }

            //    $("#history-form").submit();
            //});
            //$("#startDatePicker").on("dp.change", function (e) {
            //    var dateStr = e.date.format('MM.D.YYYY');
            //    $("#start").val(dateStr);
            //});
            //$("#endDatePicker").on("dp.change", function (e) {
            //    var dateStr = e.date.format('MM.D.YYYY');
            //    $("#end").val(dateStr);
            //});
        });
    </script>
}
<!-- Small modal -->
<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            Бро, не забудь поздравить:
                - Петр Иванов (+79081200121)
                - Федя Иволгин (+7999999999)
        </div>
    </div>
</div>
-->
<table class="table table-striped">
    <tr>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.CreatedBy), "History", new { sortOrder = ViewBag.ToolSortParm })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Tool), "History", new { sortOrder = ViewBag.ToolSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tool.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning btn-sm" title="Редактировать"><span class="glyphicon glyphicon-edit"></span></a>
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info btn-sm" title="Просмотр"><span class="glyphicon glyphicon-info-sign"></span></a>
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm" title="Удалить"><span class="glyphicon glyphicon-remove"></span></a>
            </td>
        </tr>
    }
</table>

