@model IEnumerable<vproker.Models.Order>
@{
    ViewBag.Title = (ViewBag.FilterParm == "active") ? "Активные Заказы" : "История";
}

@*<p>
    <a asp-action="Create">Новый Заказ</a>
</p>*@

@*@using (Html.BeginForm("Index", "Order", FormMethod.Get))
{
    <p>
        Поиск по клиенту: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}*@
<!-- Small modal -->
<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            Бро, не забудь поздравить:
                - Петр Иванов (+79081200121)
                - Федя Иволгин (+7999999999)
        </div>
    </div>
</div>
-->
<table class="table table-striped">
    <tr>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.CreatedBy), "Index", new { sortOrder = ViewBag.ToolSortParm })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Tool), "Index", new { sortOrder = ViewBag.ToolSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="success">
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tool.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning btn-sm" title="Редактировать"><span class="glyphicon glyphicon-edit"></span></a>
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info btn-sm" title="Просмотр"><span class="glyphicon glyphicon-info-sign"></span></a>
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm" title="Удалить"><span class="glyphicon glyphicon-remove"></span></a>
            </td>
        </tr>
    }
</table>